<div *ngIf="card" class="initial-screen">
  <div style="text-align: center">
    <h1>Simple Budget</h1>
    <p class="lead">
      Your budget, made simpler 
    </p>
    <button class="button start-btn" (click)="openApplication()">Start Now</button>
  </div>
</div>

<div *ngIf="!card && expenses" class="annual-income-wrapper">
  
  <div class="annual-income card">
    <h1 class="annual-income-title">Fill in your numbers below</h1>
    <h4>
      Annual Income:
    </h4>
    <input id="annualincome" #annualincome>
    <br/>
    <h4>
      Monthly Expenses:
    </h4>
    <button class="monthly-expense-btn" (click)="calculateexpenses()">Calculate Expenses</button>
    <input id="monthlyexpenses" #monthlyexpenses>
    <div class="between"></div>
    <button class="calculate-btn" (click)="calculate(annualincome.value, monthlyexpenses.value)">Calculate</button>
    <div class="available-money card">
      <h4 class="available-money-title">Available Money</h4>
      <p>
        {{availablemoneyyearly | currency}}/year
      </p>
      <p>
        {{availablemoneymonthly | currency }}/month
      </p>
      <p> 
        {{availablemoneyweekly | currency}}/week
      </p>
      <p>
        {{availablemoneydaily | currency}}/day
      </p>

      <div class="screenshot">Screenshot this page to save for your records</div>
    </div>
  </div>
</div>

<div *ngIf="!expenses" class="expenses-wrapper">
  <div class="expenses card">
    <div style="text-align: center">
      <h1>Calculate Your Expenses</h1>
      <p class="lead">
       Input your monthly expenses below.
      </p>
    </div>

    <form style="width:50%; margin: auto; text-align: center;">

      <small>
        Rent
      </small>
      <br>
      <input id="rent" #rent>

      <br>

      <small>
        Car Payment
      </small>
      <br>
      <input id="carpayment" #carpayment>

      <br>

      <small>
        Car Insurance
      </small>
      <br>
      <input id="carinsurance" #carinsurance>

      <br>

      <small>
        Cell Phone Bill
      </small>
      <br>
      <input id="cellphone" #cellphone>

      <br>
      
      <small>
        Groceries/Eating Out
      </small>
      <br>
      <input id="food" #food>

      <br>

      <small>
        Other
      </small>
      <br>
      <input id="other" #other>

      <br> <br>
      <div class="card" style="width: 80%; padding: 20px; text-align: center; margin: auto">
        <h4>Total Monthly Expenses: <br> {{totalexpenses | currency}}</h4>
        <small>Remember this number and input after close</small>
      </div>
    </form>
    <button class="button calc-btn" (click)="saveexpenses(rent.value, carpayment.value, carinsurance.value, other.value)">Calculate</button>
    <br>
    <button class="button close-btn" (click)="closeexpenses()" style="width:80%; margin: auto;">Close</button>
  </div>

</div>
